@{ 
    ViewBag.Page = "Home";
    ViewData["Title"] = "Dashboard | Docker Management System";

}
<!--<div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
    <div class="ui icon success message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
    <div class="ui icon warning message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
    <div class="ui icon negative message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>-->

    <div class="ui three statistics">
        <div class="statistic">
            <div class="value">
                22
            </div>
            <div class="label">
                Docker Container
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                2
            </div>
            <div class="label">
                Container Host
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                100
            </div>
            <div class="label">
                Docker Image
            </div>
        </div>
    </div>

    <div class="ui grid">

        <div class="ten wide column">
            <h2 class="ui dividing header">Containers<a id="types" class="anchor"></a></h2>
            <table class="ui celled selectable right aligned table">
                <thead>
                    <tr>
                        <th class="left aligned">Name</th>
                        <th>Image</th>
                        <th>Created</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left aligned">boring_feynman</td>
                        <td>ubuntu:latest</td>
                        <td>1367854155</td>
                        <td>Exited</td> 
                    </tr>
                    <tr>
                        <td class="left aligned">boring_feynman</td>
                        <td>ubuntu:latest</td>
                        <td>1367854155</td>
                        <td>Exited</td> 
                    </tr>
                    <tr>
                        <td class="left aligned">boring_feynman</td>
                        <td>ubuntu:latest</td>
                        <td>1367854155</td>
                        <td>Exited</td> 
                    </tr>
                    <tr>
                        <td class="left aligned">boring_feynman</td>
                        <td>ubuntu:latest</td>
                        <td>1367854155</td>
                        <td>Exited</td> 
                    </tr>
                    <tr>
                        <td class="left aligned">boring_feynman</td>
                        <td>ubuntu:latest</td>
                        <td>1367854155</td>
                        <td>Exited</td> 
                    </tr>
                </tbody>
            </table>

            <h2 class="ui dividing header">Hosts<a id="types" class="anchor"></a></h2>
            <table class="ui celled selectable right aligned table">
                <thead>
                    <tr>
                        <th class="left aligned">Host Name</th>
                        <th>OS Type</th>
                        <th>IP</th>
                        <th>Server Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left aligned">UbuntuDockerHost01</td>
                        <td>Linux</td>
                        <td>192.168.1.1</td>
                        <td>v1.1.0</td>
                    </tr>
                    <tr>
                        <td class="left aligned">UbuntuDockerHost01</td>
                        <td>Linux</td>
                        <td>192.168.1.1</td>
                        <td>v1.1.0</td>
                    </tr>
                    <tr>
                        <td class="left aligned">UbuntuDockerHost01</td>
                        <td>Linux</td>
                        <td>192.168.1.1</td>
                        <td>v1.1.0</td>
                    </tr>
                    <tr>
                        <td class="left aligned">UbuntuDockerHost01</td>
                        <td>Linux</td>
                        <td>192.168.1.1</td>
                        <td>v1.1.0</td>
                    </tr>
                    <tr>
                        <td class="left aligned">UbuntuDockerHost01</td>
                        <td>Linux</td>
                        <td>192.168.1.1</td>
                        <td>v1.1.0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="six wide column">
            <h2 class="ui dividing header">Activities<a id="types" class="anchor"></a></h2>
            <div class="ui feed">
                <div class="event">
                    <div class="label">
                        <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            3 days ago
                        </div>
                        <div class="summary">
                            <a>Jenny Hess</a> added <a>UbuntuDockerHost01</a> to Hosts.
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            3 days ago
                        </div>
                        <div class="summary">
                            <a>Jenny Hess</a> added <a>UbuntuDockerHost01</a> to Hosts.
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            3 days ago
                        </div>
                        <div class="summary">
                            <a>Jenny Hess</a> added <a>UbuntuDockerHost01</a> to Hosts.
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            3 days ago
                        </div>
                        <div class="summary">
                            <a>Jenny Hess</a> added <a>UbuntuDockerHost01</a> to Hosts.
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            3 days ago
                        </div>
                        <div class="summary">
                            <a>Jenny Hess</a> added <a>UbuntuDockerHost01</a> to Hosts.
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            3 days ago
                        </div>
                        <div class="summary">
                            <a>Jenny Hess</a> added <a>UbuntuDockerHost01</a> to Hosts.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>