@{ 
    ViewBag.Page = "Home";
}
<div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
    <div class="ui icon success message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
    <div class="ui icon warning message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
    <div class="ui icon negative message">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>

    <div class="ui three statistics">
        <div class="statistic">
            <div class="value">
                22
            </div>
            <div class="label">
                Docker Container
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                2
            </div>
            <div class="label">
                Container Host
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                100
            </div>
            <div class="label">
                Docker Image
            </div>
        </div>
    </div>

    <div class="ui grid">

        <div class="ten wide column">
            <h2 class="ui dividing header">Containers<a id="types" class="anchor"></a></h2>
            <table class="ui celled selectable right aligned table">
                <thead>
                    <tr>
                        <th class="left aligned">Person</th>
                        <th>Calories</th>
                        <th>Fat</th>
                        <th>Protein</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left aligned">Tasia</td>
                        <td>12</td>
                        <td>7g</td>
                        <td>21g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Ronnie</td>
                        <td>38</td>
                        <td>37g</td>
                        <td>38g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Gabriel</td>
                        <td>30</td>
                        <td>46g</td>
                        <td>46g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Logan</td>
                        <td>12</td>
                        <td>21g</td>
                        <td>39g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Clare</td>
                        <td>39</td>
                        <td>41g</td>
                        <td>2g</td>
                    </tr>
                </tbody>
            </table>

            <h2 class="ui dividing header">Hosts<a id="types" class="anchor"></a></h2>
            <table class="ui celled selectable right aligned table">
                <thead>
                    <tr>
                        <th class="left aligned">Person</th>
                        <th>Calories</th>
                        <th>Fat</th>
                        <th>Protein</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left aligned">Tasia</td>
                        <td>12</td>
                        <td>7g</td>
                        <td>21g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Ronnie</td>
                        <td>38</td>
                        <td>37g</td>
                        <td>38g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Gabriel</td>
                        <td>30</td>
                        <td>46g</td>
                        <td>46g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Logan</td>
                        <td>12</td>
                        <td>21g</td>
                        <td>39g</td>
                    </tr>
                    <tr>
                        <td class="left aligned">Clare</td>
                        <td>39</td>
                        <td>41g</td>
                        <td>2g</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="six wide column">
            <h2 class="ui dividing header">Activities<a id="types" class="anchor"></a></h2>
            <div class="ui feed">
                <div class="event">
                    <div class="label">
                        <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            3 days ago
                        </div>
                        <div class="summary">
                            You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>