@{
    ViewBag.Page = "Images";
        ViewData["Title"] = "Images | Docker Management System";

}

<!--@if(ViewData["Result"] != null && ViewData["ResultMessage"]!=null)
{
    <div class="ui success message">
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
}-->

<h2 class="ui dividing header">Images<a id="types" class="anchor"></a></h2>
<form class="ui form" method="POST" asp-action="SearchImage" asp-controller="Images">
  <div class="inline field">
    <input type="text" style="width:300px" name="imageName" id="imageName" placeholder="Image Name">
    <button class="ui labeled icon button">
  <i class="search icon"></i>
  Search It
</button>
  </div>
</form>
<table class="ui celled selectable table">
   <thead>
        <tr>
            <th>RepoTags</th>
            <th>Created</th>
            <th>Size</th>
            <th>VirtualSize</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a class="ui blue basic label">ubuntu:12.04</a><a class="ui blue basic label">ubuntu:precise</a><a class="ui blue basic label">ubuntu:latest</a></td>
            <td>1365714795</td>
            <td>1365714795</td>
            <td>131506275</td>
        </tr>
        <tr>
            <td><a class="ui blue basic label">ubuntu:12.04</a><a class="ui blue basic label">ubuntu:precise</a><a class="ui blue basic label">ubuntu:latest</a></td>
            <td>1365714795</td>
            <td>1365714795</td>
            <td>131506275</td>
        </tr>
    </tbody>
</table>