@{
    ViewBag.Page = "Images";
        ViewData["Title"] = "Images | Docker Management System";

}

<!--@if(ViewData["Result"] != null && ViewData["ResultMessage"]!=null)
{
    <div class="ui success message">
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
}-->

<h2 class="ui dividing header">Images<a id="types" class="anchor"></a></h2>
<a class="ui labeled icon button" asp-action="SearchImages" asp-controller="Images">
    <i class="search icon"></i>
    Search
</a>
<table class="ui celled selectable table">
   <thead>
        <tr>
            <th>Host Name</th>
            <th>RepoTags</th>
            <th>Created</th>
            <th>Size</th>
            <th>VirtualSize</th>
        </tr>
    </thead>
    <tbody id="imagesTableBody">
    </tbody>
</table>
<div class="ui active dimmer" id="loader">
    <div class="ui indeterminate text loader">Getting Images from Hosts</div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $.ajax({
                url: "GetImages",
                success: function (data) {
                    data.forEach(function (item) {
                        $("#imagesTableBody").append('<tr><td>' + item.HostName + '</td><td>' + getTags(item.RepoTags) + '</td><td>' + new Date(item.Created) + '</td><td>' + item.Size + '</td><td>' + item.VirtualSize + '</td></tr> ');
                    });
                    setTimeout(function () {
                        $('#loader').removeClass('active').addClass('disabled');
                    }, 1000);
                }
            });

            function getTags(param) {
                var result = '';
                $.each(param, function (key, value) {
                    result += '<div class="ui horizontal label">'+value+'</div>';
                });
                return result;
            }
        });
    </script>
}