@{
    ViewBag.Page = "Containers";
    ViewData["Title"] = "Containers | Docker Management System";
}

<!--@if(ViewData["Result"] != null && ViewData["ResultMessage"]!=null)
{
    <div class="ui success message">
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're fetching that content for you.</p>
        </div>
    </div>
}-->

<h2 class="ui dividing header">Containers<a id="types" class="anchor"></a></h2>
<button class="positive ui button" id="newAddContainer">Add New Container</button>
<table class="ui celled selectable table">
   <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Created</th>
            <th>State</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>boring_feynman</td>
            <td>ubuntu:latest</td>
            <td>1367854155</td>
            <td>Exited</td>
            <td><div class="ui green label">Active</div>
            <td>
                <div class="ui small basics icon buttons">
                    <button class="ui button"><i class="stop icon"></i></button>
                    <button class="ui button"><i class="repeat icon"></i></button>
                    <button class="ui button"><i class="remove icon"></i></button>
                </div>
            </td>
        </tr> 
        <tr>
            <td>boring_feynman</td>
            <td>ubuntu:latest</td>
            <td>1367854155</td>
            <td>Exited</td>
            <td><div class="ui green label">Active</div>
            <td>
                <div class="ui small basics icon buttons">
                    <button class="ui button"><i class="stop icon"></i></button>
                    <button class="ui button"><i class="repeat icon"></i></button>
                    <button class="ui button"><i class="remove icon"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>